.SideDrawer {
    position: fixed;
    width: 240px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 89;
    background-color: #A4EBF3;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform .3s ease-out;
    align-content: center;
}

.SideDrawer li {
    padding: 25px 0;
}
/* 
@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
} */

.SideDrawer h2 {
    padding-top: 120px;
    font-family: 'Montserrat';
    text-align: center;
}

.Open {
    transform: translateX(0)
}

.Closed {
    transform: translateX(-100%)
}